@font-face {
  font-family: 'Avenir LT Std';
  src:
    url('./asset/fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.categoryheading {
  font-family: 'Avenir LT Std';
  font-weight: bolder;
  font-style: normal;
  font-display: swap;
}

.menu-item {
  font-family: 'Avenir LT Std';
  color: #000;
  font-size: 16px !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  font-style: normal;
  font-display: swap;
}
.date{
  font-size: 14px;
  font-weight: 300px;
  padding-left: 66px;
  font-family: 'Avenir LT Std';
  border-left: 3px solid #c2bdbd;
  width: 10%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.text {
  color: #D3D3D3
}